html,
body,
#root {
    position: relative;
    height: 100%;
}

.section-title {
    position: relative;
    font-weight: bold;
    margin-bottom: 5rem;
    font-size: 2.5rem;

    &::after {
        content: '';
        height: 5px;
        width: 50px;
        background-color: var(--primary);
        position: absolute;
        bottom: -50%;
        left: 0%;
    }
}
