#main-navbar-wrapper {
    padding-top: 2%;
    z-index: 1;

    &.navbar-dark .navbar-nav .show>.nav-link,
    &.navbar-dark .navbar-nav .active>.nav-link,
    &.navbar-dark .navbar-nav .nav-link.show,
    &.navbar-dark .navbar-nav .nav-link.active {
        position: relative;
        font-weight: bold;

        &::before {
            content: '';
            height: 3px;
            width: 80%;
            background-color: white;
            border-radius: 1rem;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &::after {
            content: '';
            height: 3px;
            width: 40%;
            background-color: white;
            border-radius: 1rem;
            position: absolute;
            bottom: -15%;
            left: 0;
        }
    }
}


@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
