@import '../variables';

#our-latest-works {
    position: relative;
    padding: 10% 0%;
    background-color: $secondary;

    &::before {
        content: '';
        width: 100%;
        height: calc(100% + 1px);
        position: absolute;
        top: -40%;
        left: 0;
        background: url(/images/linear-single.svg);
        background-repeat: no-repeat;

        @media (min-width: 320px) and (max-width: 767.5px) {
            top: -55%;
        }

        @media (min-width: 1920px) {
            top: -75%;
        }
    }

    .wrapper {
        z-index: 1;
    }

    .section-title {
        color: white;

        &::after {
            background-color: white;
        }
    }

    .swiper-container {
        margin-top: 5rem;

        @media (min-width: 320px) and (max-width: 767.5px) {
            margin-top: 1rem;
        }

        .swiper-slide {
            width: 50%;
            height: 400px;

            @media (min-width: 320px) and (max-width: 767.5px) {
                width: 90%;
                height: 300px;
            }

            @media (min-width: 767.5px) and (max-width: 1277.5px) {
                width: 70%;
                height: 300px;
            }

            @media (min-width: 1920px) {
                width: 30%;
            }
        }
    }
}
