@import '../variables';

#our-latest-works {
    position: relative;
    padding: 10% 0%;
    background-color: $secondary;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: -40%;
        left: 0;
        background: url(/images/linear-single.svg);
        background-repeat: no-repeat;
    }

    .wrapper {
        z-index: 1;
    }

    .section-title {
        color: white;

        &::after {
            background-color: white;
        }
    }

    .swiper-container {
        margin-top: 5rem;

        .swiper-slide {
            width: 50%;
            height: 400px;
        }
    }
}
