#what-we-do {
    margin: 10% 0% 25% 0%;

    .services {
        padding: 2rem 5rem 2rem 0rem;

        h4 {
            font-weight: bold;
            margin: 20px 0px;
        }

        p {
            color: grey;
            line-height: 1.8;
            letter-spacing: 0.5px;
        }
    }
}
